<div class="container">
  <div class="white-text text-center wow fadeInUp">
    <img src="../../../assets/img/logo.png" class="col-md-2 offset-md-5 col-4 offset-4 flip" />
    <h2>Daestner Systems and Technology</h2>
    <h5 class="typewriter">Innovative business systems</h5>
    <br>
    <p>
      We are proud to have served the region's businesses as Innovative Business Systems the past three decades.
      Throughout our company's history, we have sought to bring responsive service and common sense solutions to
      our clients' IT concerns.
    </p>
  </div>
</div>