<mdb-card cascade="true" wider="true" reverse="true" class="my-4">
  <!--Card image-->
  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
    <mdb-card-img src="{{service.image}}"></mdb-card-img>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!--/Card image-->

  <!-- Card content -->
  <mdb-card-body cascade="true" class="text-center">

    <!--Title-->
    <mdb-card-title>
      <h4>
        <strong>{{service.name}}</strong>
      </h4>
    </mdb-card-title>

    <h5 class="indigo-text">
      <strong>Service</strong>
    </h5>

    <mdb-card-text>
      {{service.description}}
    </mdb-card-text>

    <!--Linkedin-->
    <a class="icons-sm li-ic">
      <i class="fa fa-linkedin px-2"> </i>
    </a>
    <!--Twitter-->
    <a class="icons-sm tw-ic">
      <i class="fa fa-twitter px-2"> </i>
    </a>
    <!--Dribbble-->
    <a class="icons-sm fb-ic">
      <i class="fa fa-facebook px-2"> </i>
    </a>
  </mdb-card-body>

</mdb-card>