<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav"
    [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" routerLink="/home" routerLinkActive="active">
            <img src="assets/img/logo.png" width="50" />&nbsp;
            <strong>
                Daestner
            </strong>
        </a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav small">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/industries" routerLinkActive="active">INDUSTRIES</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/services" routerLinkActive="active">SERVICES</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/products" routerLinkActive="active">PRODUCTS</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/community" routerLinkActive="active">COMMUNITY</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/about" routerLinkActive="active">ABOUT</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><i class="fa fa-twitter"></i></a>
            </li>
        </ul>
    </links>
</mdb-navbar>