.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
    color: #a2eeff;
    border-bottom: solid 1px;
}

.navbar-brand{
    text-transform: uppercase;
    letter-spacing: 8px;
}

.navbar-nav{
    letter-spacing: 2px;
}