.nav-link.active {
    color: #a2eeff;
    border-bottom: solid 1px;
}

.navbar-brand{
    text-transform: uppercase;
    letter-spacing: 8px;
}

.navbar-nav{
    letter-spacing: 2px;
}

.navbar-nav.small{
    background: rgba(0, 0, 0, 0.8)
}